services:
  moveit2:
    build: .
    container_name: moveit2
    network_mode: host
    ipc: host
    environment:
        - ROS_DOMAIN_ID=0
        - DISPLAY=${DISPLAY}
        - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority:ro
    tty: true
    stdin_open: true